advent-of-code-data 
aocd                
beautifulsoup4      
browser-cookie3     
certifi             
charset-normalizer  
colorama            
contourpy           
cycler              
fonttools           
idna                
igraph              
kiwisolver          
lz4                 
matplotlib          
numpy               
packaging           
pandas              
Pebble              
pillow              
pip                 
pycairo             
pycryptodomex       
pyparsing           
python-dateutil     
pytz                
requests            
scipy               
setuptools          
six                 
scikit-learn
soupsieve           
termcolor           
texttable           
tzdata              
tzlocal             
urllib3             
wheel               
